

a:link {
    text-decoration: none;
    }
    
    .order-card {
    color: rgb(255, 255, 255);
    }
    
    .bg-c-blue {
    background: #FC766AFF;
    }
    
    .bg-c-green {
    background:#1388df;
    }
    
    .bg-c-yellow {
    background: #B0B8B4FF;
    }
    
    .bg-c-pink {
    background: #184A45FF;
    }
    
    
    .card {
    
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: 1px solid black;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    }
    
    .card .card-block {
    padding: 25px;
    }
    
    .order-card i {
    font-size: 26px;
    }
    
    .f-left {
    float: left;
    }
    
    .f-right {
    float: right;
    }
    header {
    left: 0px;
    right: 0px;
    }
       