<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
  
</head>

<footer>

  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div style="color:#fba92c;" class="wow fadeInUp footer-copyright">
          <p><br>
            Quick Quiz 2022 &copy;  </p><br>
        </div>
      </div>
    </div>
  </div>
</footer>

</html>
