<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<title>Quick Quiz</title>
<style>
  .container .btn{
    padding-right: 35px;
    color: black;
    background-color: burlywood;
    
  }
  .jumbotron{
    margin-bottom: 0px;
    height: calc(100vh-400px);
  }
  section{
    background-color: #e6e6e6;
  }

</style>
<body>
  {% include "quiz/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center" style="margin: 0px; height: 656px;">
  <div class="container text-center">
    <h1 class="display-1" style="color: #fba92c;">Start Quiz Now</h1>
    <p class="display-4 d-none d-sm-block">Test your skills and become a master.</p>
    <p class="lead">We organize quizzes on various topics.</p>

    

    <p class="lead">Sign up if you haven't already and get access to millions of quizzes on the topic of your interest.</p>
    <p><strong>BE A PART OF US:</strong></p>
    <a href="/student/studentsignup" class="btn btn-sm " ><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
    OR
    <a href="/student/studentlogin" class="btn btn-sm " ><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>

    <br><br><br>
  </div>  
</section>
  {% include "quiz/footer.html" %}


</body>

</html>
